a {
    text-decoration: none;
    color: black
}

.container {
    padding: 1em 7em;
}

h1 {
    text-align: center;
    font-size: 3.5em;
}

.column {
    width: 100%;
}

body {
    background-color: #f5f5f5;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-bottom: 2em;
    padding: 1em;
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
    border-radius: 30px;
    transition: transform 0.31s ease-in-out;
}

.card:hover {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    transform: scale(1.047)
}

.card .img-container {
    width: 8em;
    height: 8em;
    padding: 0.5em;
    background-color: #a993ff;
    border-radius: 50%;
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.social {
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (min-width: 1024px){
    .row {
        display: flex;
        gap: 2em;
    }
}