.container {
    width: 500px;
    height: 300px;
    background-color: #eee;
    border: 1px solid #222;
    margin-bottom: 30px;
    display: flex;
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
    /* flex-flow: row-reverse wrap; */
    /* justify-content: flex-end; */
    /* align-items: stretch; */
    align-content: stretch;
    gap: 20px;
}

.box {
    padding: 5px 45px;
    margin: 5px;
    width: 80px;
    background-color: palevioletred;
}
/* 
#box1 {
    margin-right: auto;
    padding: 20px;
    align-self: flex-start;
}

#box2 {
    align-self: flex-end;
}

#box3 {
    align-self: center;
} */