.book1 {
    /* list-style-type: circle; */
    /* list-style-type: square; */
    /* list-style-image: url(../images/icon.png); */
    list-style-type: none;
}

.book2 {
    /* list-style-type: decimal-leading-zero; */
    /* list-style-type: lower-alpha; */
    /* list-style-type: upper-alpha; */
    /* list-style-type: lower-roman; */
    /* list-style-type: upper-roman; */
    /* list-style-type: upper-latin; */
    /* list-style-type: lower-latin; */
    /* list-style-type: lower-greek;
    list-style-position: inside; */
    padding: 15px;
    list-style: lower-roman inside;
}