.box1 {
    width: 150px;
    height: 150px;
    background-color: pink;
    box-sizing: border-box;
    border: thin solid green;
    box-shadow: 5px 5px 10px 3px white inset;
    border-width: thick thin;
    border-radius: 75px;
    margin: auto;
}

.box2 {
    width: 400px;
    height: 100px;
    background-color: yellow;
    box-sizing: content-box;
    border: 5px ridge green;
    border-top-color: blue;
    /* border-style: dashed; */
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin: 10px 20px 30px 40px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 3px 3px 10px 5px gray;
}

.box3, .box5{
    width: 300px;
    height: 200px;
    background-color: blue;
    margin: 30px;
}

.box4 {
    width: 300px;
    height: 200px;
    background-color: blue;
    margin: 60px 30px;
}